.registration-box {
    box-shadow: 12px 12px 0px 0px rgb(185, 203, 248);
    width: 770px;
}

.row-aligned {
    display: flex;
    flex-direction: row;
}

.w50 {
    position: relative;
    width: 54%;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.row-input {
    width: 289px;
}

.row-margin {
    margin-right: 50px;
}

#button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
