.registration-box {
    box-shadow: 12px 12px 0px 0px #c2dfeb;
    width: 672px;
}

.sign-in-input {
    width: 100%;
}

.sign-in-input {
    width: 100%;
}

.vector-color {
    background-color: #92D2EE;
}
